# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.GestionReservation.iml
# Datasource local storage ignored files
/../../../../../../../:\programmes\rider\GestionReservation\.idea\.idea.GestionReservation\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
